@font-face {
  font-family: "Avenir Regular";
  src: url($avenir_woff2) format('woff2'),
       url($avenir_woff) format('woff');
  font-weight: normal;
}

:root {
  --font-family: "Avenir Regular", sans-serif;
}